body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 198, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-133px;
  width:375px;
  height:842px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:54px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:375px;
  height:54px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:658px;
  width:29px;
  height:29px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:658px;
  width:29px;
  height:29px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:658px;
  width:31px;
  height:31px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:690px;
  width:29px;
  height:17px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:690px;
  width:29px;
  height:17px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFC600;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:690px;
  width:29px;
  height:17px;
  color:#FFC600;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:426px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:112px;
  width:350px;
  height:426px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:83px;
  width:101px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:431px;
  width:29px;
  height:17px;
  color:#666666;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:471px;
  width:343px;
  height:1px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:418px;
  width:268px;
  height:42px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:496px;
  width:29px;
  height:17px;
  color:#666666;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:581px;
  width:343px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u1695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:482px;
  width:268px;
  height:42px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:483px;
  width:255px;
  height:40px;
}
#u1696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#1E1E1E;
  text-align:right;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:548px;
  width:142px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
  color:#1E1E1E;
  text-align:right;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  text-align:left;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:14px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:3px;
  width:360px;
  height:14px;
  text-align:left;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  text-align:left;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:23px;
  width:214px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
#u1702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:130px;
  width:43px;
  height:16px;
  color:#666666;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:152px;
  width:256px;
  height:1px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:168px;
  width:71px;
  height:16px;
  color:#666666;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:207px;
  width:71px;
  height:16px;
  color:#666666;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:286px;
  width:71px;
  height:16px;
  color:#666666;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:230px;
  width:256px;
  height:1px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:310px;
  width:256px;
  height:1px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:165px;
  width:16px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:244px;
  width:71px;
  height:16px;
  color:#666666;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:269px;
  width:256px;
  height:1px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:331px;
  width:43px;
  height:17px;
  color:#666666;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:324px;
  width:155px;
  height:30px;
}
#u1713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:322px;
  width:83px;
  height:34px;
  overflow:hidden;
}
#u1714_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1714_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  color:#FFFFFF;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1714_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1714_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  color:#FFFFFF;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:32px;
  height:25px;
}
#u1717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u1714_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1714_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:34px;
  color:#FFFFFF;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u1719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:168px;
  width:59px;
  height:16px;
  color:#CCCCCC;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:358px;
  width:256px;
  height:1px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:376px;
  width:71px;
  height:17px;
  color:#666666;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:400px;
  width:256px;
  height:1px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:377px;
  width:59px;
  height:17px;
  color:#CCCCCC;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:2px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:196px;
  width:256px;
  height:1px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
