body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:596px;
  background:inherit;
  background-color:rgba(255, 198, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:375px;
  height:596px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:46px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:612px;
  width:373px;
  height:46px;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:92px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:141px;
  width:328px;
  height:66px;
  line-height:22px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  word-wrap:break-word;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:386px;
  width:253px;
  height:38px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:253px;
  word-wrap:break-word;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:180px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:188px;
  width:178px;
  height:180px;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:197px;
  background:inherit;
  background-color:rgba(33, 21, 81, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 21, 81, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:179px;
  width:203px;
  height:197px;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:330px;
  width:46px;
  height:46px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:44px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:449px;
  width:310px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  word-wrap:break-word;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  text-align:left;
}
#u1824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:14px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:3px;
  width:360px;
  height:14px;
  text-align:left;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
  text-align:left;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:23px;
  width:214px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:210px;
  word-wrap:break-word;
}
