body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-49px;
  width:976px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:446px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:87px;
  width:976px;
  height:446px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:27px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:89px;
  width:10px;
  height:27px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:90px;
  width:106px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:27px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:128px;
  width:10px;
  height:27px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:129px;
  width:103px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:32px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:129px;
  width:10px;
  height:32px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:130px;
  width:103px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:32px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:245px;
  width:10px;
  height:32px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:246px;
  width:103px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:32px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:171px;
  width:10px;
  height:32px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:172px;
  width:103px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:32px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:171px;
  width:8px;
  height:32px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:171px;
  width:88px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:32px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:212px;
  width:8px;
  height:32px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:212px;
  width:88px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:253px;
  width:88px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
